@charset "utf-8";

/**
 * style.css
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see http://gnu.org/licenses/lgpl.txt.
 *
 * @project      A simple chat client based on the WebSocket protocol.
 * @version      0.1.1-beta
 * @package      xhtml-css
 * @author       Florian Wolters <wolters.fl@googlemail.com>
 * @author       Steffen Schütte <steffen.schuette@web.de>
 * @copyright    2012 Florian Wolters, Steffen Schütte
 * @cssdoc       version 1.0-pre
 * @license      http://gnu.org/licenses/lgpl.txt LGPL-3.0+
 * @media        all
 * @valid        true
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 800px;
}

/* Site header */

body > header {
    font-weight: bold;
    margin-bottom: 1em;
}

/* Site footer */

body > footer {
    overflow: hidden;
    margin-top: 2em;
    border-top: 0.2em solid #CCCCCC;
    font-size: 80%;
}

legend {
    font-weight: bold;
    font-size: 90%;
}

/* Site main content */

[role="main"] {
    border: .2em solid black;
    border-radius: 6px;
    padding: 10px;
}

/* Match list */

li {
    cursor: hand;
    cursor: pointer;
}

ul#matches, ul#matches ul
{
    display: block;
    width: 29em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    background-color: #22AAAA;
    border: 1px solid white;
}

ul#matches li
{
    display: block;
    width: 29em;
    margin: 0px;
    padding: 4px;
    list-style-type: none;
    color: white;
    background-color: #22AAAA;
    border: 1px solid white;
}

ul#matches li:hover {
    color: #FFFF00;
    background-color: #AAAAAA;
}

/* Match info */

#matchinfo {
    /* float: left; */
    margin-bottom: 10px;
}

/*
#match {
    clear: left;
}
*/

table#mainboard {
    border: 4px solid brown;
}

table#mainboard tr td {
    width: 2em;
    margin: 0px;
    padding: 4px;
    list-style-type: none;
    color: white;
    background-color: #44CCCC;
    border: 1px solid brown;
    text-align: center;
}

table#mainboard tr td.mainboard-label {
    font-style: bold;
    color: darkRed;
    background-color: lightYellow;
}

table#mainboard tr td.called-square {
    font-style: bold;
    color: blue;
    background-color: #22AAAA;
}

/* Cards */

div#cards table {
    margin-top: 6px;
    margin-right: 6px;
    border: 2px solid black;
    float: left;
}

div#cards table tr td {
    width: 2em;
    margin: 0px;
    padding: 4px;
    list-style-type: none;
    color: blue;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    cursor: hand;
    cursor: pointer;
}

div#cards table tr td.card-label {
    font-style: bold;
    color: white;
    background-color: blue;
}

div#cards table tr td.free-square {
    font-style: bold;
    font-size: 50%;
    color: black;
    background-color: white;
    border: 1px solid black;
}

div#cards table tr td.stamped {
    background: #f00;
    border-radius: 50%;
}

/* Players */

#players
{
    color: blue;
    font-style: oblique;
    font-weight: 200;
    cursor: hand;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 40px;
}

#player-header
{
    color: black;
    font-style: italic;
    margin-right: 4px;
}

/* Idle elements */

.hidden {
    display: none;
}

/* Chat log */

#chat {
    clear: left;
}

#chatlog {
    list-style-type: none;
    padding: 0.5em;
    border: 1px solid black;
}

#chatlog .uid, #chatlog .ts {
    background-color: inherit;
    font-size: 80%;
}

#chatlog .uid {
    font-style: italic;
    color: blue;
}

#chatlog .ts {
    color: green;
}

#chatlog .info, #chatlog .warning, #chatlog .error {
    background-color: inherit;
    color: inherit;
    font-family: "Courier New", monospace;
}

#chatlog .info {
    color: gray;
}

#chatlog .warning {
    font-weight: bold;
    color: orange;
}

#chatlog .error {
    font-weight: bold;
    color: red;
}